{% block sw_cms_el_storefinder %}
    <div class="sw-cms-el sw-cms-el-storefinder">
        <div class="sw-cms-el-storefinder-map">
            <img :src="'/udgstorefinder/administration/static/img/cms/preview-maps.png' | asset">
        </div>
    </div>
{% endblock %}
