{% block sw_cms_block_image_31 %}
    <div class="sw-cms-block-image-31">
        <div class="sw-cms-block-image-31__left">
            <slot name="left"></slot>
        </div>
        <div class="sw-cms-block-image-31__right">
            <slot name="right"></slot>
        </div>
    </div>
{% endblock %}
