{# Template-ID kann finden unter: https://ui.newsletter2go.com/forms #}
{% if (page.header.activeLanguage.translationCode.code == 'de-DE') %}
    {% set newletter2go_integration_id = 't8s4vyzn-96ngbalj-frq' %}
{% else %}
    {% set newletter2go_integration_id = 't8s4vyzn-5jer9xs7-89x' %}
{% endif %}

<div class="component-newsletter n2g_block">
<script id="n2g_script">!function (e, t, n, c, r, a, i) {
        e.Newsletter2GoTrackingObject = r, e[r] = e[r] || function () {
            (e[r].q = e[r].q || []).push(arguments)
        }, e[r].l = 1 * new Date, a = t.createElement(n), i = t.getElementsByTagName(n)[0], a.async = 1, a.src = c, i.parentNode.insertBefore(a, i)
    }(window, document, "script", "https://static.newsletter2go.com/utils.js", "n2g");
    var config = {
        "container": {"type": "div", "class": "n2g_container", "style": ""},
        "row": {"type": "div", "class": "n2g_row", "style": ""},
        "columnLeft": {"type": "div", "class": "n2g_columnLeft", "style": ""},
        "columnRight": {"type": "div", "class": "n2g_columnRight", "style": ""},
        "label": {"type": "label", "class": "n2g_label", "style": ""}
    };
    n2g('create', '{{ newletter2go_integration_id }}' );
    n2g('subscribe:createForm', config);</script>
</div>
