{% block sw_cms_block_biggercontentslider %}

    {% if block.id == section.blocks.elements|first.id%}
        <div class="component-big-content-slider" data-plugin="bigContentSlider">
            <div class="slider">
                {% for element in section.blocks.elements %}
                    {% block sw_cms_block_biggercontentslider_element %}
                        <div class="component-stage slide" data-name="{{ element.slots.getSlot('slidername').data.content|striptags|trim }}">
                        {% block block_stage_text %}
                            {% set element = element.slots.getSlot('text') %}
                            <div class="stage-text-wrapper video">
                                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                            </div>
                        {% endblock %}

                        <div class="stage-background-wrapper">
                            <div class="image-3x2">
                                {% block block_stage_image32 %}
                                    {% set element = element.slots.getSlot('image32') %}
                                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                                {% endblock %}
                            </div>
                            <div class="image-1x1">
                                {% block block_stage_image11 %}
                                    {% set element = element.slots.getSlot('image11') %}
                                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

