{% block sw_cms_block_storefinderteaser %}
    <div class="sw-cms-block-storefinderteaser">
        <div class="sw-cms-block-storefinderteaser__top">
            <slot name="top"></slot>
        </div>
        <div class="sw-cms-block-storefinderteaser__bottom">
            <slot name="bottom"></slot>
        </div>
    </div>
{% endblock %}
