{% block sw_cms_block_bigvideo %}
    <div class="sw-cms-block-bigvideo">
        <div class="sw-cms-block-bigvideo__left">
            <slot name="text"></slot>
        </div>
        <div class="sw-cms-block-bigvideo__video">
            <p>
                <strong>Lightbox-Video:</strong>
                <slot name="videolightbox"></slot>
            </p>
            <p>
                <strong>Desktop-Video:</strong>
                <slot name="videodesktop"></slot>
            </p>
            <p>
                <strong>Mobile-Video:</strong>
                <slot name="videomobile"></slot>
            </p>
        </div>
        <div class="sw-cms-block-bigvideo__image21">
            <strong>Image 3x2:</strong>
            <slot name="image21"></slot>
        </div>
        <div class="sw-cms-block-bigvideo__image11">
            <strong>Image 1x1:</strong>
            <slot name="image11"></slot>
        </div>
    </div>
{% endblock %}
