{% block sw_cms_block_accordeon %}
    <div class="sw-cms-block-accordeon">
        <div class="sw-cms-block-accordeon-header">Accordeon-Element</div>
        <div class="sw-cms-block-accordeon-content">
            <slot name="slide1">{% block sw_cms_block_accordeon_slot_slide1 %}{% endblock %}</slot>
        </div>

        <div class="sw-cms-block-accordeon-header">Accordeon-Element</div>
        <div class="sw-cms-block-accordeon-content">
            <slot name="slide2">{% block sw_cms_block_accordeon_slot_slide2 %}{% endblock %}</slot>
        </div>

        <div class="sw-cms-block-accordeon-header">Accordeon-Element</div>
        <div class="sw-cms-block-accordeon-content">
            <slot name="slide3">{% block sw_cms_block_accordeon_slot_slide3 %}{% endblock %}</slot>
        </div>

        <div class="sw-cms-block-accordeon-header">Accordeon-Element</div>
        <div class="sw-cms-block-accordeon-content">
            <slot name="slide4">{% block sw_cms_block_accordeon_slot_slide4 %}{% endblock %}</slot>
        </div>

        <div class="sw-cms-block-accordeon-header">Accordeon-Element</div>
        <div class="sw-cms-block-accordeon-content">
            <slot name="slide5">{% block sw_cms_block_accordeon_slot_slide5 %}{% endblock %}</slot>
        </div>

        <div class="sw-cms-block-accordeon-header">Accordeon-Element</div>
        <div class="sw-cms-block-accordeon-content">
            <slot name="slide6">{% block sw_cms_block_accordeon_slot_slide6 %}{% endblock %}</slot>
        </div>

    </div>
{% endblock %}
