{% block sw_cms_el_storefinder_preview %}
    <div class="sw-cms-el-preview-storefinder">
        <img :src="'/udgstorefinder/administration/static/img/cms/preview-maps.png' | asset">
    </div>
{% endblock %}
