{% block sw_cms_block_image_13 %}
    <div class="sw-cms-block-image-13">
        <div class="sw-cms-block-image-13__left">
            <slot name="left"></slot>
        </div>
        <div class="sw-cms-block-image-13__right">
            <slot name="right"></slot>
        </div>
    </div>
{% endblock %}
