{% block sw_cms_block_lightbox_image_text_preview  %}
    <div class="sw-cms-preview-videolightbox-image-text">
        <div class="sw-cms-preview-videolightbox-image-text__left">
            <div class="sw-cms-preview-videolightbox-image-text__image">
                <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
            </div>
        </div>
        <div class="sw-cms-preview-videolightbox-image-text__right">
            <div class="sw-cms-preview-videolightbox-image-text__text">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt.</p>
            </div>
        </div>
    </div>
{% endblock %}
