<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>UDG Storefinder Configuration</title>
        <title lang="de-DE">UDG Storefinder Konfiguration</title>

        <input-field type="text">
            <name>apiUrl</name>
            <label>The Google Maps API Url</label>
            <label lang="de-DE">Die Google Maps API Url</label>
            <defaultValue/>
        </input-field>
        <input-field type="text">
            <name>apiKey</name>
            <label>The Google Maps API Key</label>
            <label lang="de-DE">Der Google Maps API Key</label>
            <defaultValue/>
        </input-field>
    </card>
</config>
