{% block sw_cms_block_bigcontentslider_preview  %}
    <div class="sw-cms-preview-bigcontentslider">
        <div>
            <p>Lorem ipsum dolor sit amet Elitr.</p>
        </div>
        <div class="sw-cms-preview-bigcontentslider__image">
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet elitr.</p>
        </div>
    </div>
{% endblock %}
