{% sw_extends '@Storefront/storefront/element/cms-element-image.html.twig' %}

    {%  set config = element.fieldConfig.elements %}

    {% block element_image_container %}
        {% if element.data.media.url %}
            <div class="cms-image-container is-{{ element.translated.config.displayMode.value }} element-image"
                {% if element.translated.config.minHeight.value and element.translated.config.displayMode.value == "cover" %} style="min-height: {{ element.translated.config.minHeight.value }};"{% endif %}>

                {% block element_image_media %}
                    {% set attributes = {
                        'class': '',
                        'alt': (element.data.media.translated.alt ?: ''),
                        'title': (element.data.media.translated.title ?: '')
                    } %}

                    {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}
                        {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
                    {% endif %}

                    {% sw_thumbnails 'cms-image-thumbnails' with {
                        media: element.data.media
                    } %}
                {% endblock %}

                <div class="image-title">
                    {{ (element.data.media.translated.title ?: '') }}
                </div>
            </div>
        {% endif %}
    {% endblock %}
