{% block sw_cms_block_bigvideo_preview  %}
    <div class="sw-cms-preview-bigvideo">
        <div class="sw-cms-preview-bigvideo__content">
            <div class="sw-cms-preview-bigvideo__image">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-bigvideo__text">
                Lorem Impsum hutjjlksdf<br/>
                <p>Orem Impsum hutj.</p>
            </div>
        </div>
    </div>
{% endblock %}
