{% block sw_cms_block_accordeon_preview %}
    <div class="sw-cms-preview-accordeon">
        <div>
            <p class="text-quote">
                Lorem ipsum dolor sit amet <strong>+</strong>
            </p>
            <p class="text-quote">
                Lorem ipsum dolor sit amet <strong>+</strong>
            </p>
            <p class="text-quote">
                Lorem ipsum dolor sit amet <strong>+</strong>
            </p>
        </div>
    </div>
{% endblock %}
