{% block sw_cms_block_parallax %}
    <div class="sw-cms-block-parallax">
        <div class="sw-cms-block-parallax__left">
            <slot name="left"></slot>
        </div>
        <div class="sw-cms-block-parallax__right">
            <slot name="right"></slot>
        </div>
    </div>
{% endblock %}
