{% block sw_cms_element_text_preview %}
    <div class="sw-cms-el-preview-text">
        <p class="text-lg">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
        </p>
    </div>
{% endblock %}
