{% block sw_cms_block_lightbox_image_text %}
    <div class="sw-cms-block-videolightbox-image-text">
        <div class="sw-cms-block-videolightbox-image-text__left">
            <slot name="videolightbox"></slot>
            <slot name="left"></slot>
        </div>
        <div class="sw-cms-block-videolightbox-image-text__right">
            <slot name="right"></slot>
        </div>
    </div>
{% endblock %}
