{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}


{% block base_footer_teaser_storefinder %}
{% endblock %}


{% block base_content %}
    <div class="cms-page">
        <div class="cms-sections">
            <!-- @GLOBAL-E: REPLACE -->
        </div>
    </div>
{% endblock %}
