<button type="button"
        class="btn btn-menu btn-open-account-flyout action-open-account-flyout">
    <i class="icon icon-account">
        <svg class="svg-import">
            <use xlink:href="#icon-account"/>
        </svg>
    </i>
</button>
<div class="component-header-desktop-account-flyout theme-default"
     data-plugin="headerDesktopAccountFlyout">
    <div class="component-header-account">
        {% sw_include '@UdgBurmesterTheme/storefront/udgburmestertheme/layout/header/header-account-items.html.twig' %}
    </div>
</div>
