{% block sw_cms_element_gallery_preview %}
    <div class="sw-cms-el-preview-udg-download">
        <div class="sw-cms-el-preview-udg-download-preview">
            <p>Lorem Ippsim</p>
            <p>PDF - 2MB</p>
        </div>
        <div class="sw-cms-el-preview-udg-download-preview__action">Download</div>
    </div>
{% endblock %}
